.footerParentDiv {
    width: 100%;
  }
  .footerParentDiv .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fdffe7;
    padding: 16px;
  }
  .footerParentDiv .content .heading {
    font-size: 24px;
    font-weight: bolder;
  }
  
  .footerParentDiv .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 10px;
    background: rgb(201, 172, 45);
    color: whitesmoke;
  }
  
  .footerParentDiv .footer p {
    margin: 0;
  }
  .list {
    width : 100;
  }
  .col{
    flex-basis: 400px;
  }
  